<h1>Result</h1>
<p><%= @message %></p>
<p>Your word is: <%= @word.capitalize %></p>
<p><%= @final_score %></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to 'Start a new game', new_path %>
